[submodule "External/Haxcessibility"]
	path = External/Haxcessibility
	url = https://github.com/robrix/Haxcessibility.git
[submodule "External/ShortcutRecorder"]
	path = External/ShortcutRecorder
	url = https://github.com/Kentzo/ShortcutRecorder.git
